[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pylint = "*"
pytest = "*"
mock = "*"
pyrsistent = "*"
toolz = "*"
hypothesis = "*"
multipledispatch = "*"
hask3 = "*"
mysqlclient = "*"
elasticsearch = "*"
rx = "*"
pymonad = "*"
streamz = "*"
networkx = "*"
graphviz = "*"

[requires]
python_version = "3.7"
